#simple-gmap-field-gmap-canvas {
  float: right;
  width: 600px;
  height: 300px;
  margin: 0.5em;
}

.simple-gmap-field-gmap-canvas-small {
  float: right;
  width: 300px;
  height: 150px;
  margin: 0.5em;
}
